div(ng-hide=(!user))
  div.adduserwrap
    h1.atitle 修改密码
    form.adduser(method='post')
      div.field
        label(for='password') 新密码：
        input(ng-model='user.password', name='password')
      div.abuttonwrap
        button.abutton(type='reset') 重 置
        |  
        button.abutton(ng-click='submitPassword()') 提 交