form.upload(method='post', action='/file/uploading/{{id}}', enctype='multipart/form-data')
    input.filebox(name='inputFile', type='file')
    div.abuttonwrap
        input.abutton(name='btnUp', type='submit',value='上传')